*{
  margin:0;
  padding:0;
}
body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  header{
  margin:30px;
  width: 100%;
  height: 100px;
  display:flex;
  justify-content: center;
  }

  img{
  height: 100px;
  }

  .reihe {
    width: 25%;
    float: left;
  }

  .grid {
    display: flex;
    justify-content: space-between;
    width: 1000px;;
    margin: 0 auto;
    overflow: hidden;
  }

  .center{
  text-align: center;
  }

  .bild_1{
  width:200px;
  height:300px;
  background-color:#27ffc9;
  margin: 20px;
  display:inline-block;
  top: 0px;
  }
  .bild_2{
  width:200px;
  height: 100px;
  background-color:#27ffc9;
  margin: 20px;
  display:inline-block;
  top: 0px;
  }
  .bild_3{
  width:200px;
  height: 400px;
  background-color:#27ffc9;
  margin: 20px;
  display:inline-block;
  top: 0px;
  }
  .bild_4{
  width:200px;
  height: 100px;
  background-color:#27ffc9;
  margin: 20px;
  display:inline-block;
  top: 0px;
  }
  .bild_5{
  width:200px;
  height: 200px;
  background-color:#27ffc9;
  margin: 20px;
  display:inline-block;
  top: 0px;
  }
  .bild_6{
  width:200px;
  height: 300px;
  background-color:#27ffc9;
  margin: 20px;
  display:inline-block;
  top: 0px;

  }
  .bild_7{
  width:200px;
  height: 300px;
  background-color:#27ffc9;
  margin: 20px;
  display:inline-block;
  top: 0px;
  }
  .footer {
  position:fixed;
  bottom: 0;
  margin:0;
  background-color:#27ffc9;
  height:100px;
  width:100%;
  left: 0px;
  }

/*.clear {
  clear: both;
}*/
